.App {
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .App {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .App {
    width: 1200px;
  }
}

.App-link {
  color: #61dafb;
}
